/* Basic setup */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: sans-serif;
    color: #000000;
    margin: 0;
}


a {
    text-decoration: none;
    color: #000000;
}

img {
    width: 100%;
    height: auto;
}

/* Header section */

header {
    background-color: #808588;
}

header h1 {
    padding: 15px;
    margin: 0;
}

.expand-button {
    display: none;
    font-size: 35px;
    padding: 15px 20px;
    background-color: #d2d2d2;
    min-width: 25px;
    text-align: center;
}

.expand-button::before {
    content: '+';
}

.expand-button.expanded::before {
    content: '-';
}

/* Navigation section */


#navContainer {
    position: relative;
}

#navContainer.top-fix {
    width: 100%;
    position: fixed;
    top: 0;
}

.nav-container {
    display: flex;
    flex-direction: row;
    padding: 5px;
    padding-left: 15%;
    background-color: #d3d3d3;
}

.nav-item {
    padding: 10px;
}

.nav-item.selected {
    font-weight: bold;
}

/* Main Container section */

.page-container {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #d3d3d3;
}

/* Side Navigation */

.side-nav {
    width: 15%;
    padding: 25px 20px;
    margin-right: 5px;
    box-sizing: border-box;
    border-right: 1px solid #d2d2d2;
}

.side-nav .brand-select {
    list-style: none;
}

.side-nav .brand-select li {
    margin: 5px 0;
}

.side-nav .brand-select li label {
    padding: 5px;
}

.side-nav .side-nav-title {
    padding-bottom: 15px;
    font-weight: bold;
}

/* Banner and Grid */

.main {
    width: 85%;
}

.banner-container {
    width: 100%;
}

.banner {
    background-image: url('../images/shop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
}

.secondary {
    display: none;
    justify-content: space-between
}

.customize-container {
    margin: 15px 20px;
}

.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.grid-container .grid-item {
    margin: 2%;
    width: 20%;
    border: 1px solid #d3d3d3;
    box-shadow: 0 0 10px 5px #d2d2d2;
    cursor: pointer;
}

.desc-container {
    padding: 10px;
}

button {
    background-color: lavender;
    box-shadow: none;
    border: none;
    border-radius: 15px;
    padding: 8px;
    cursor: pointer;
}

select {
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 0px;
    outline: none;
    width: 100px;
    padding-left: 10px;
    font-size: 15px;
}

.nav-item {
    display: inline-block;
}

.product-desc{
    display: block;
    padding: 5px 0;
}

/* Footer section */

.footer-container {
    padding: 20px;
}

/* Responsive setup */

@media only screen and (max-width: 768px) {
    header h1 {
        display: inline-block;
    }

    .expand-button {
        display: inline-block;
    }

    nav {
        display: none;
    }

    nav.show {
        display: block;
    }

    .nav-item {
        border-bottom: 1px solid darkgrey;
    }

    .nav-item:last-child {
        border: none;
    }

    .nav-container {
        flex-direction: column;
        padding-left: 5px;
    }

    .side-nav {
        display: none;
    }

    .main {
        width: 100%;
    }

    .secondary {
        display: block;
    }

    .grid-container {
        flex-direction: column;
        border-bottom-width: 1px;
        margin: 0 5px;
    }

    .grid-container .grid-item {
        width: 100%;
        margin: 0;
        padding: 10% 5%;
        box-sizing: border-box;
        box-shadow: none;
        border: none;
        border-bottom: 1px solid #d2d2d2;
    }
}
