/* Basic setup */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: sans-serif;
    color: #000000;
    margin: 0;
}


a {
    text-decoration: none;
    color: #000000;
}

img {
    width: 100%;
    height: auto;
}

/* Header section */

.header-wrapper {
    display: block;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading-right {
    display: flex;
    align-items: center;
}

.cart, .sign-up {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}

.cart {
    background-image: url('../images/cart.png');
}

.sign-up {
    background-image: url('../images/user.png');
}

header {
    background-color: #808588;
}

header h1 {
    padding: 15px;
    margin: 0;
}

.expand-button {
    display: none;
    font-size: 35px;
    padding: 15px 20px;
    background-color: #d2d2d2;
    min-width: 25px;
    text-align: center;
}

.expand-button::before {
    content: '+';
}

.expand-button.expanded::before {
    content: '-';
}

/* Navigation section */

#navContainer {
    position: relative;
}

#navContainer.top-fix {
    width: 100%;
    position: fixed;
    top: 0;
}

.nav-container {
    display: flex;
    flex-direction: row;
    padding: 5px;
    padding-left: 15%;
    background-color: #d3d3d3;
}

.nav-item {
    padding: 10px;
}

.nav-item.selected {
    font-weight: bold;
}

/* Main Container section */

.page-container {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #d3d3d3;
}

/* Side Navigation */

.side-nav {
    width: 15%;
    padding: 25px 20px;
    margin-right: 5px;
    box-sizing: border-box;
    border-right: 1px solid #d2d2d2;
}

.side-nav-item {
    margin-bottom: 20px;
}

.side-nav .brand-select {
    list-style: none;
}

.side-nav .brand-select li {
    margin: 5px 0;
}

.side-nav .brand-select li label {
    padding: 5px;
}

.side-nav .side-nav-title {
    padding-bottom: 15px;
    font-weight: bold;
}

.rating-select {
    list-style: none;
    cursor: pointer;
    margin-bottom: 2px;
}

.rating-select li.star {
    display: inline;
}

.rating-select li.star.up {
    font-size: 12px;
}

.rating-select li.star.up:hover {
    color: skyblue;
}

.rating-select li.star.filled::before {
    content: "\2605";
}

.rating-select li.star.empty::before {
    content: "\2606";
}

/* Banner and Grid */

.main {
    width: 85%;
}

.banner-container {
    width: 100%;
}

.banner {
    background-image: url('../images/shop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
}

.secondary {
    display: none;
    justify-content: space-between
}

.customize-container {
    margin: 15px 20px;
}

.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.grid-container .grid-item {
    margin: 2%;
    width: 20%;
    border: 1px solid #d3d3d3;
    box-shadow: 0 0 10px 5px #d2d2d2;
    cursor: pointer;
}

.desc-container {
    padding: 10px;
}

button {
    background-color: lavender;
    box-shadow: none;
    border: none;
    border-radius: 15px;
    padding: 8px;
    cursor: pointer;
}

select {
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 0px;
    outline: none;
    width: 100px;
    padding-left: 10px;
    font-size: 15px;
}

.nav-item {
    display: inline-block;
}

.product-desc{
    display: block;
    padding: 5px 0;
}

/* Footer section */

.footer-container {
    padding: 20px;
}

/* Overlay */

#overlay {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}

#overlay.show-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-wrapper {
    position: relative;
    display: flex;
    background-color: #ffffff;
    width: 80%;
    border: 2px solid #d2d2d2;
    animation: animateOverlay 0.5s ease-in-out;
}

.overlay-img, .overlay-desc-wrapper {
    width: 50%;
    padding: 20px;
}

.overlay-desc {
    margin-bottom: 10px;
}

.overlay-desc.title {
    font-weight: bold;
    font-size: 25px;
}

@keyframes animateOverlay {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* Responsive setup */

@media only screen and (max-width: 768px) {
    .header-wrapper {
        display: inline-block;
        width: 80%;
    }

    header h1 {
        display: inline-block;
    }

    .cart, .sign-up {
        margin-right: 10px;
    }

    .expand-button {
        display: inline-block;
        width: 15%;
        padding: 15px;
        box-sizing: border-box;
    }

    nav {
        display: none;
    }

    nav.show {
        display: block;
    }

    #navContainer.show.top-fix {
        position: relative;
    }

    .nav-item {
        border-bottom: 1px solid darkgrey;
    }

    .nav-item:last-child {
        border: none;
    }

    .nav-container {
        flex-direction: column;
        padding-left: 5px;
    }

    .side-nav {
        display: none;
    }

    .main {
        width: 100%;
    }

    .secondary {
        display: block;
    }

    .grid-container {
        flex-direction: column;
        border-bottom-width: 1px;
        margin: 0 5px;
    }

    .grid-container .grid-item {
        width: 100%;
        margin: 0;
        padding: 10% 5%;
        box-sizing: border-box;
        box-shadow: none;
        border: none;
        border-bottom: 1px solid #d2d2d2;
    }

    .overlay-wrapper{
        flex-direction: column;
    }

    .overlay-img, .overlay-desc-wrapper {
        width: 100%;
        box-sizing: border-box;
    }
}
